/* Grid */

/* Bootstrap Overrids */
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

/* Icons */
#dog-walking,
#pet-sitting,
#overnight-pet-sitting,
#potty-break {
    font-size: 5rem;
    color: gray;
    transition: all .2s ease-in-out;
}

#dog-walking:hover,
#pet-sitting:hover,
#overnight-pet-sitting:hover,
#potty-break:hover {
    transform: scale(1.2); 
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */

/* About Us Stylings */
#about-us-img-left,
#about-us-img-right {
    max-height: 400px;
}

.bg-gradient-danger {
    background: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important;
}


/* Customer Reviews Stylings */
.cust-review-img:hover {
    opacity: 0.75;
}

.accordian {
    display: inline-block;
}

/* Media Queries */


