html {
    scroll-behavior: smooth;
}

/* Fonts */
h2 {
    /* font-family: 'Cinzel', serif; */
    font-family: 'Alegreya SC', serif;
    letter-spacing: .15rem;
    text-shadow: 1px 1px #343a40;
}

h1,
h3,
h4,
h5,
h6
.nav-link {
    font-family: 
        /* 'Staatliches', cursive; */
        'Carrois Gothic SC', sans-serif;
    /* letter-spacing: .1rem; */
}

body,
.valued-customer-since {
    font-family: 
    /* 'Oswald', sans-serif; */
    /* 'Fjalla One', sans-serif; */
    /* 'Yanone Kaffeesatz', sans-serif; */
    'Cuprum', sans-serif;
    /* 'Carrois Gothic SC', sans-serif; */
    /* letter-spacing: .1rem; */
    font-size: 1.1rem;
}

#about-us-row {
    color: white;
    text-shadow: 1px 1px #343a40;
}

#trustworthy-pet-care-houston-contact-info,
#we-love-all-pets-footer,
#dog-walking-hours {
    text-shadow: 1px 1px #e41428;
}

/* .modal-header,
#services-modal-close-icon {
    text-shadow: 0px 1px #ffffff;
} */

.page-breaker-text {
    font-family: 
        /* 'Satisfy', cursive; */
        /* 'Kaushan Script', cursive; */
        /* 'Caveat', cursive; */
        'Cuprum', sans-serif;
        /* 'Dancing Script', cursive; */
    font-size: 1.7rem;
    line-height: 3.4rem;
    /* color: #343a40 !important; */
    color: #6c757d;
}

.customerName {
    color: black;
    font-family: 'Caveat', cursive;
}

.valued-customer-since {
    font-size: .95rem;
}

.modal-body {
    font-family: 'Cuprum', sans-serif;
    font-size: 1rem;
}

.modal-price {
    font-size: 1.3rem;
    text-align: right;
}

.modal-service-title {
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px grey;
}

/* Grid */

/* Bootstrap Overrides */
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

.bg-transparent {
    transition: 750ms ease;
    background: transparent !important;
}

.bg-transparent.scrolled {
    transition: 750ms ease-in-out;
    background: #343a40 !important;
}

a.dropdown-item {
    /* color: #f8f9fa !important; */
    color: #cbd3da !important;
}

.anchor:target {
    padding-top: 50px;
    /* border: 5px solid red; */
}

/* Nav Bar */
.nav-link {
    color: #ffffff !important;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
}

.nav-link:hover {
    /* color: red !important; */
    text-shadow: 2px 2px 2px #e41428;
    transform: scale(1.1); 
}

/* Hero Images */
.carousel-item {
    max-height: 1000px;
}

.darken {
    background: #000;
}

.opacity {
    opacity: 0.8;
}

/* Icons */
/* Core Values */
#dog-walking,
#pet-sitting,
#overnight-pet-sitting,
#potty-break {
    font-size: 5rem;
    color: gray;
    transition: all .2s ease-in-out;
}

#all-pet-services-icon,
#dog-icon,
#cat-icon,
#small-animals-icon,
#bird-icon,
#reptile-icon {
    transition: all .2s ease-in-out;
}

#all-pet-services-icon:hover,
#dog-icon:hover,
#cat-icon:hover,
#small-animals-icon:hover,
#bird-icon:hover,
#reptile-icon:hover {
    transform: scale(1.1); 
}

#dog-walking:hover,
#pet-sitting:hover,
#overnight-pet-sitting:hover,
#potty-break:hover {
    transform: scale(1.2); 
}

/* All Services */
#voodooHeading,
.pet-services-icon-text {
    text-shadow: 1px 1px #343a40; 
}

#voodooHeading {
    font-size: 2.5rem !important;
}

.pet-services-icon-text {
    font-weight: 900 !important;
    letter-spacing: .1rem;
}

#dog-services {
    font-size: 5rem;
    color: black;
}

#dog-icon,
#cat-icon,
#small-animals-icon,
#bird-icon,
#reptile-icon {
    /* border: 1px solid black; */
    border: 2px solid white;
    /* border: 1px solid gray; */
    border-radius: 35% 12%;
    background-color: rgba(300, 300, 300, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
    max-width: 240px;
} 

.whats-included-service-modal {
    border-top: 1px solid gainsboro;
}

/* .whats-included-service-modal {
    font-size: .5rem;
} */

/* .services-card-body {
    overflow: auto;
    min-height: 350px;
    max-height: 350px;
} */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

/* About Us Stylings */
#about-us-img-left,
#about-us-img-right {
    max-height: 400px;
    min-width: 450px;
}

.bg-gradient-danger,
.btn-gradient-danger {
    /* background: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important; */
    background: #dc3545 linear-gradient(140deg, #f70e24, #e66c6cd1) repeat-x !important;
}

.btn-gradient-danger {
    text-shadow: 1px 1px #343a40;
}

/* Customer Reviews Stylings */
.cust-review-img:hover {
    opacity: 0.75;
}

.accordian {
    display: inline-block;
}

/* Services Stylings */


/* Book Now Stylings */
#book-now-img {
    z-index: -1;
    position: relative;
    /* opacity: .95; */
}

#book-now-btn {
    z-index: 1;
    position: relative;
    transition: all .2s ease-in-out;
}

#book-now-btn:hover {
    transform: scale(1.1);
}

#dog-walking-hours {
    background: #343a40;
    /* opacity: .9; */
    min-width: 285px;
}

#dog-walking-hours-image {
    min-width: 325px;
    height: auto;
    /* opacity: .9; */
}

/* Contact Us Stylings */
#trustworthy-pet-care-houston-contact-info {
    background-image: url("../images/bull-dog-walk.jpg");
    opacity: .5;
    border-radius: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-control{
    background:rgba(255,255,255,0.8);
}

#email-btn {
    opacity: 1 !important;
    background-color: #e41428 !important;
    color: white !important;
}

#email-btn,
#book-now-btn {
    transition: all .2s ease-in-out;
}

#email-btn:hover,
#book-now-btn:hover {
    transform: scale(1.1);
}

/* Footer */
#we-love-all-pets-footer {
    margin-top: 100px !important;
}

.social_facebook_circle,
.social_instagram_circle,
.social_linkedin_circle {
    font-size: 2.5rem;
    /* color: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important; */
}

#we-love-all-pets-facebook-icon,
#we-love-all-pets-instagram-icon,
#we-love-all-pets-linkedin-icon,
#footer-RMN-Web-Design-LLC {
    transition: all .2s ease-in-out;
}

#we-love-all-pets-facebook-icon:hover,
#we-love-all-pets-instagram-icon:hover,
#we-love-all-pets-linkedin-icon:hover,
#footer-RMN-Web-Design-LLC:hover {
    /* text-decoration: none; */
    transform: scale(1.2); 
}

/* .text {
    background-image: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important;
    color: transparent;
    -webkit-background-clip: text;
	background-clip: text;
} */

/* Media Queries */
/* Nav Bar */ 
@media only screen and (max-width: 850px) {
    .nav-link {
        transform: none !important;
    }
    #hero-img-container {
        margin-top: 100px !important;
    }
    .bg-transparent {
        background: #343a40 !important;
    }
}

/* Page Breaker Text */
@media only screen and (max-width:1200px) {
    .page-breaker-text {
        font-size: 1.4rem;
        line-height: 2.7rem;
    }
}
@media only screen and (max-width:768px) {
    .page-breaker-text {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
}

/* Pet Care Services Section */
@media only screen and (max-width: 768px) {
    #services-image-left,
    #services-image-right {
        max-width: 500px;
    }
    #all-pet-services-icon-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

/* Book Now Section */
@media only screen and (max-width: 991px) {
    #dog-walking-hours-container {
        margin-top: 250px !important;
    }
}

/* Footer */
@media only screen and (max-width: 577px) {
    #footer-brand,
    #footer-copyright {
        text-align: center;
    }
    #footer-brand {
        margin: 15px 0;
    }
    #footer-RMN-Web-Design-LLC {
        margin: 15px 0;
    }
    #footer-copyright {
        margin-bottom: 15px;
    }
}