html {
    scroll-behavior: smooth;
}

/* Fonts */


h1,
h3,
h4,
h5,
h6
.nav-link {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.valued-customer-since,
.card-para-font {
    font-family: 
    'Cuprum', sans-serif;
    font-size: 1.1rem;
}

.card-para-font {
    border-top: 2px solid rgb(156, 156, 156);
}

.card-title {
    font-weight: bolder;
}

.red-underline {
    /* border-bottom: 2px solid red; */
    /* border-top: 2px solid red; */
}

.about-us-carousel {
    text-shadow: 1px 1px #343a40;
    font-family: 'Happy Monkey', cursive;
    font-size: 1.3rem;
    font-weight: bolder !important;
    letter-spacing: .04rem;
}

.carousel-caption-title,
#about-us-title {
    /* font-family: 'Happy Monkey', cursive; */
    font-family: 'Pompiere', cursive;
    /* font-family: 'Simonetta', cursive; */
    /* font-family: 'Overlock SC', cursive; */
    /* font-family: 'Allan', cursive; */
    /* font-family: 'Oregano', cursive; */
    /* font-family: 'Salsa', cursive; */
    letter-spacing: .15rem;
    text-shadow: 1px 1px #343a40;
}

#about-us-row {
    color: white;
    text-shadow: 1.5px 1.5px 4px black;
}

#about-us-title {
    color: white;
    text-shadow: 1.5px 1.5px 3px black;
}

.about-us-section {
    color: white;
    text-shadow: 1.5px 1.5px 2px black;
    /* text-shadow: 1px 1px #343a40; */
    font-family: 'Cuprum', sans-serif;;
    font-size: 1.4rem;
    font-weight: bolder !important;
}

#trustworthy-pet-care-houston-contact-info,
#we-love-all-pets-footer,
#dog-walking-hours {
    text-shadow: 1px 1px #e41428;
}

.word-on-street {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .5px;
    /* border-bottom: 3px solid red; */
}

.word-on-the-street-title {
    border-bottom: 2px solid red;
}

.page-breaker-text {
    font-family: 
        /* 'Cuprum', sans-serif; */
        'Happy Monkey', cursive;
        /* 'Oswald', sans-serif; */
        /* 'Fjalla One', sans-serif; */
        /* 'Yanone Kaffeesatz', sans-serif; */
        /* 'Carrois Gothic SC', sans-serif; */
    font-size: 1.7rem;
    /* font-weight: lighter !important; */
    line-height: 3.4rem;
    /* color: #343a40 !important; */
    color: #6c757d;
}

.customerName {
    color: black;
    font-family: 'Caveat', cursive;
    /* border-bottom: 3px solid red; */
}

/* .customer-name {
    border-bottom: 3px solid red;
} */

.valued-customer-since {
    font-size: .95rem;
}

.modal-body {
    font-family: 'Cuprum', sans-serif;
    font-size: 1rem;
}

.modal-price {
    font-size: 1.3rem;
    text-align: right;
}

.modal-service-title {
    text-decoration: underline;
    text-shadow: 0.5px 0.5px 1px grey;
}

/* Grid */

/* Bootstrap Overrides */
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
}

.shadow-sm {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.2) !important;
}

.bg-transparent {
    transition: 750ms ease;
    background: transparent !important;
}

.bg-transparent.scrolled {
    transition: 750ms ease-in-out;
    /* background: #343a40 !important; */
    background: #343a40 linear-gradient(180deg, #52585d, #343a40) repeat-x !important;
}

a.dropdown-item {
    /* color: #f8f9fa !important; */
    color: #cbd3da !important;
}

.anchor:target {
    padding-top: 50px;
    /* border: 5px solid red; */
}

/* Nav Bar */
.nav-link {
    font-family: 'Cuprum', sans-serif;
    color: #ffffff !important;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
}

.nav-link:hover {
    /* color: red !important; */
    text-shadow: 2px 2px 2px #e41428;
    transform: scale(1.1); 
}

/* Hero Images */
.carousel-item {
    max-height: 1000px;
}

.darken {
    background: #000;
}

.opacity6 {
    opacity: 0.6;
} 

.opacity7 {
    opacity: 0.7;
}

.opacity8 {
    opacity: 0.8;
}

/* Icons */
/* Core Values */
.core-value-card {
    border-right: 2px solid rgba(172, 172, 172, 0.4) !important;
    /* position: relative; */
}

/* .cv-card-border {
    position: absolute;
    border-right: 2px solid rgba(172, 172, 172, 0.4) !important;
    top: 50%;
    bottom: 0;
} */

#dog-walking,
#pet-sitting,
#overnight-pet-sitting,
#potty-break {
    font-size: 5rem;
    color: gray;
    transition: all .2s ease-in-out;
}

#all-pet-services-icon,
#dog-icon,
#cat-icon,
#small-animals-icon,
#bird-icon,
#reptile-icon {
    transition: all .2s ease-in-out;
}

#all-pet-services-icon:hover,
#dog-icon:hover,
#cat-icon:hover,
#small-animals-icon:hover,
#bird-icon:hover,
#reptile-icon:hover {
    transform: scale(1.1); 
}

#dog-walking:hover,
#pet-sitting:hover,
#overnight-pet-sitting:hover,
#potty-break:hover {
    transform: scale(1.2); 
}

/* About Us Stylings */
#about-us-img-left,
#about-us-img-right {
    max-height: 400px;
    min-width: 450px;
    border: 2px solid white;
    border-radius: 10px;
}

.bg-gradient-danger,
.btn-gradient-danger {
    /* background: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important; */
    background: #dc3545 linear-gradient(140deg, #f70e24, #e66c6cd1) repeat-x !important;
}

.btn-gradient-danger {
    font-family: 'Cuprum', sans-serif;
    text-shadow: 1px 1px #343a40;
}

/* All Services */
.pet-services-icon-text {
    text-shadow: 1px 1px #343a40; 
    font-family: 'Cuprum', sans-serif;
    font-size: 1.65rem;
}

#voodooHeading {
    font-family: 
        'Pompiere', cursive;
        /* 'Cuprum', sans-serif; */
    text-shadow: 1.5px 1.5px 3px black;
}

.pet-services-icon-text {
    font-weight: 900 !important;
    letter-spacing: .1rem;
}

#dog-services {
    font-size: 5rem;
    color: black;
}

.icon-img-size {
    width: 150px;
}

#dog-icon,
#cat-icon,
#small-animals-icon,
#bird-icon,
#reptile-icon {
    /* border: 1px solid black; */
    /* border: 2px solid white; */
    /* border: 1px solid gray; */
    /* border-radius: 35% 12%;
    background-color: rgba(300, 300, 300, 0.3);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4); */
    max-width: 240px;
} 

.whats-included-service-modal {
    border-top: 1px solid gainsboro;
}

/* Customer Reviews Stylings */
.cust-review-img:hover {
    opacity: 0.75;
}

.accordian {
    display: inline-block;
}

/* Modified Book Now Stylings */
#book-pet-care-services-houston {
    background-image: url("../images/adult-animal-canine-237692.jpg");
    background-size: cover;
}

#square-appt-widget {
    min-height: 500px;
    min-width: 450px;
    /* border: 2px solid red; */
}

.square-widget {
    visibility: hidden;
}

.square-widget-visible {
    visibility: visible;
    border-radius: 10px;
    border: 2px solid white;
    box-shadow: 0 .75rem 2rem rgba(0, 0, 0, 0.95) !important;
}

/* Book Now Stylings */
.btn-gradient-danger {
    z-index: 1;
    /* position: relative; */
    transition: all .2s ease-in-out;
}

.btn-gradient-danger:hover {
    transform: scale(1.1);
}


/* Contact Us Stylings */
#trustworthy-pet-care-houston-contact-info {
    /* background-image: url("../images/cat-high-five.jpg"); */
    background-image: url("../images/dog-laying-on-side.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .5;
    border-radius: 10px;
    border: 2px solid white;
}

.contact-info,
#contact-us-form {
    font-family: 'Cuprum', sans-serif;
}

.form-control{
    background:rgba(255,255,255,0.8);
}

#map-title {
    text-shadow: 1px 2px black;
}

#dog-walking-areas-serviced {
    border-radius: 10px;
    border: 2px solid white;
    /* max-width: 700px; */
    /* min-height: 300px; */
    /* min-width: 300px; */
}

#pet-care-services-houston-map {
    transition: all .2s ease-in-out;
    /* min-height: 275px; */
}

#pet-care-services-houston-map:hover {
    transform: scale(1.04);
}

#dog-walking-hours {
    border-radius: 10px;
    border: 2px solid white;
    min-width: 285px;
}

#dog-walking-hours {
    /* position: absolute;
    left: 16%; */
}

#dog-walking-hours-image {
    min-width: 325px;
    height: auto;
    
}

#map-hours-col {
    /* position: relative; */
} 

#hours-row-positioning {

}

/* Footer */
#we-love-all-pets-footer {
    font-family: 'Cuprum', sans-serif;;
    margin-top: 175px !important;
}

.social_facebook_circle,
.social_instagram_circle,
.social_linkedin_circle {
    font-size: 2.5rem;
    /* color: #dc3545 linear-gradient(150deg, #f90920, #ffc107d1) repeat-x !important; */
}

#we-love-all-pets-facebook-icon,
#we-love-all-pets-instagram-icon,
#we-love-all-pets-linkedin-icon,
#footer-RMN-Web-Design-LLC {
    transition: all .2s ease-in-out;
}

#footer-RMN-Web-Design-LLC:hover {
    transform: scale(1.05);
}

#we-love-all-pets-facebook-icon:hover,
#we-love-all-pets-instagram-icon:hover,
#we-love-all-pets-linkedin-icon:hover {
    /* text-decoration: none; */
    transform: scale(1.2); 
}

/* Media Queries */
/* Nav Bar */ 
@media only screen and (max-width: 850px) {
    .nav-link {
        transform: none !important;
    }
    #hero-img-container {
        margin-top: 100px !important;
    }
    .bg-transparent {
        background: #343a40 !important;
    }
}

/* About Us Carousel */
/* Slide 1 */
@media only screen and (max-width: 1697px) {
    #slide-one-para {
        margin-bottom: 4rem !important;
    }
}

@media only screen and (max-width: 1322px) {
    #slide-one-para {
        margin-bottom: 2.1rem !important;
    }
}

/* Slide 2 */
@media only screen and (max-width: 1750px) {
    #slide-two-para {
        margin-bottom: 4rem !important;
    }
}

@media only screen and (max-width: 1383px) {
    #slide-two-para {
        margin-bottom: 2.1rem !important;
    }
}

/* Slide 3 */
@media only screen and (max-width: 1303px) {
    #slide-three-para {
        margin-bottom: 6rem !important;
    }
}

/* Slide 4 */
@media only screen and (max-width: 1739px) {
    #slide-four-para {
        margin-bottom: 4rem !important;
    }
}

@media only screen and (max-width: 1375px) {
    #slide-four-para {
        margin-bottom: 2.1rem !important;
    }
}

/* Slide 5 */
@media only screen and (max-width: 1862px) {
    #slide-five-para {
        margin-bottom: 6rem !important;
    }
}

@media only screen and (max-width: 1402px) {
    #slide-five-para {
        margin-bottom: 4rem !important;
    }
}

/* Page Breaker Text */
@media only screen and (max-width: 1200px) {
    .page-breaker-text {
        font-size: 1.4rem;
        line-height: 2.7rem;
    }
    /* .customerName {
        font-size: 1.7rem !important;
    } */
}
@media only screen and (max-width: 768px) {
    .page-breaker-text {
        font-size: 1.25rem;
        line-height: 2.25rem;
    }
}

/* Core Values Section */
@media only screen and (max-width: 1500px) {
    .core-value-card-body {
        padding-left: 0rem !important;
        padding-right: 0rem !important;
    }
}

@media only screen and (max-width: 1250px) and (min-width: 993px) {
    .card-para-font {
        font-size: .95rem;
    }
    /* .core-value-card-body {
        margin-left: 0rem !important;
        margin-right: 0rem !important;
    }
    #core-value-deck {
        margin-left: 1rem;
        margin-right: 1rem;
    } */

}

@media only screen and (max-width: 992px) {
    .box-shadow-sm-screens {
        /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important; */
        box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
        background: #f8f9fa linear-gradient(135deg, #eaeaea, #ffffff) repeat-x !important;
    }
}

@media only screen and (max-width: 769px) {
    #core-value-deck {
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

/* Pet Care Services Section */
/* @media only screen and (min-width: 1200px) {
    .col-1-resized {
        flex: 0 0 2.5% !important;
        max-width: 2.5% !important;
    }
    
    .col-2-resized {
        flex: 0 0 19% !important;
        max-width: 19% !important;
    }
} */



@media only screen and (max-width: 768px) {
    #services-image-left,
    #services-image-right {
        max-width: 500px;
    }
    #all-pet-services-icon-container {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }
}

/* Book Now Section */
@media only screen and (max-width: 991px) {
    #dog-walking-hours-container {
        margin-top: 250px !important;
    }
}

/* Contact Us Section */
@media only screen and (max-width: 1750px) {
    #dog-walking-hours {
        margin-left: 7.25rem !important;
        /* margin-top: 3.1rem !important; */
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 1650px) {
    #dog-walking-hours {
        margin-left: 6.75rem !important;
        /* margin-top: 4.3rem !important; */
        padding-top: 1.5rem;
        padding-bottom: 1.9em;
    }
}

@media only screen and (max-width: 1550px) {
    #dog-walking-hours {
        margin-left: 6rem !important;
        /* margin-top: 1.8rem !important;  */
        padding-top: 2.25rem;
        padding-bottom: 2.5rem;
    }
}

@media only screen and (max-width: 1400px) {
    #map-title {
        margin-top: 2rem !important;
        margin-bottom: 1.4rem !important;
    }
    #dog-walking-hours {
        /* margin-top: 2.9rem !important; */
    }
}

@media only screen and (max-width: 1300px) {
    #map-title {
        /* margin-top: 2rem !important; */
        margin-bottom: 2.7rem !important;
    }
    #dog-walking-hours {
        margin-left: 5rem !important;
        /* margin-top: 7.9rem !important; */
    }
}

@media only screen and (max-width: 1199px) {
    /* #map-title {
        margin-bottom: .95rem !important;
    } */
    #dog-walking-hours {
        margin-left: 6rem !important;
        padding-top: 1.25rem;
        padding-bottom: 1.75rem;
    } 
}

@media only screen and (max-width: 1075px) {
    /* #map-title {
        margin-bottom: .95rem !important;
    } */
    #dog-walking-hours {
        margin-left: 5rem !important;
        padding-top: 2.25rem;
        padding-bottom: 2.5rem;
    } 
}

@media only screen and (max-width: 991px) {
    #map-title {
        margin-top: 2.5rem !important;
        margin-bottom: 5rem !important;
    }
    #dog-walking-hours {
        margin-left: 4.5rem !important;
        /* padding-top: 2.25rem;
        padding-bottom: 2.5rem; */
    } 
}

@media only screen and (max-width: 842px) {
    #dog-walking-hours {
        margin-left: 3.75rem !important;
        margin-top: 2.9rem !important;
        padding-top: 3rem;
        padding-bottom: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    #contact-us-col {
        margin-bottom: 0rem !important;
    }
    #map-hours-col {
        margin-top: 0rem !important;
    }
    #map-title {
        margin-bottom: 3rem !important;
    }
    #dog-walking-hours {
        margin-left: 0rem !important;
        /* margin-right: 1rem !important; */
        margin-top: 0rem !important;
        padding-top: 0rem !important;
        padding-bottom: 0rem !important;
    }
}

/* Footer */
@media only screen and (max-width: 577px) {
    #footer-brand,
    #footer-copyright {
        text-align: center;
    }
    #footer-brand {
        margin: 15px 0;
    }
    #footer-RMN-Web-Design-LLC {
        margin: 15px 0;
    }
    #footer-copyright {
        margin-bottom: 15px;
    }
}